/* variables */
:root {
    --primary: #0065FC;
    --secondary: #DEEBFF;
    --custom-gray: #F2F2F2;
    --font-family: 'Raleway', sans-serif;

    --black: #000;
    --white: #fff;
    --light-gray: #D3D3D3;
}

/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--primary);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 1rem 0;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.6rem;
}

.page-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

i.fa-star.blue {
    color: var(--primary);
}

i.fa-star.gray {
    color: var(--light-gray);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul > * {
    padding: 4rem 2rem;
}

header nav > a {
    color: var(--primary);
    font-weight: 600;
    margin-top: 2px;
    margin-left: 2rem;
}

header nav ul li {
    border-top: 2px solid transparent;
}

/* Utiliser active pour élément actif */
header nav ul li.active, header nav ul li:hover {
    border-top: 2px solid var(--primary);
}

header nav ul li.active a, header nav ul li:hover a {
    color: var(--primary);
}

/* Section Search */
#search .search-container {
    height: 5rem;
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

#search .search-container > * {
    height: 100%;
}

#search .search-container i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5rem;
    background-color: var(--custom-gray);
    border: 1px solid #eee;
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#search .search-container input {
    border: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #eee;
    outline: 0;
    padding: 0 0 0 1rem;
    width: 20rem;
}

#search .search-container button {
    background-color: var(--primary);
    padding: 1rem 2rem;
    color: var(--white);
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 1.5rem;
}

#search .search-container button:hover {
    cursor: pointer;
}

#search .search-container button i {
    display: none;
}

#search .search-filters {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 3rem 0;
}

#search .search-filters * {
    margin: 0.5rem 1rem;
}

#search .search-filters ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#search .search-filters ul li a{
    border: 2px solid #ddd;
    border-left: none;
    padding: 0 1.5rem 0 0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search .search-filters ul li a:hover{
    background-color: var(--custom-gray);
}

#search .search-filters ul li > * {
    padding: 1.5rem;
}

#search .search-filters ul li i {
    background-color: var(--secondary);
    color: var(--primary);
    margin: 0 1.5rem 0 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 1.8rem;
}

#search .quote {
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

#search .quote i {
    color: var(--primary);
    border: 1px solid #eee;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Logements */
#logements {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 20px;
}

#logements h2 {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#logements .logements, 
#logements .logements-populaires {
    background-color: var(--custom-gray);
    border-radius: 20px;
    padding: 20px;
}

#logements .cards-container article,
#logements .cards-container .content {
    height: 100%;
    padding: 2px;
} 

#logements .cards-container a {
    border-radius: 20px;
    background-color: var(--white);
}

#logements .cards-container a:hover {
    color: inherit;
}

#logements .cards-container article .content .about {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    font-size: 1.4rem;
}

#logements .cards-container .about h3,
#logements .cards-container .about p {
    margin: 0.5rem 0;
}

#logements .cards-container article .content .about p span {
    font-weight: bold;
}

#logements .cards-container .stars-container {
    margin-top: auto;
}

#logements .logements > .show-more {
    margin-top: 35px;
    margin-bottom: 25px;
}

#logements .logements > .show-more a {
    font-weight: 800;
}

#logements .logements .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 230px);
    gap: 20px;
}

#logements .logements .cards-container article img {
    height: 60%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

#logements .logements-populaires .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logements .logements-populaires .header i {
    font-size: 2rem;
}

#logements .logements-populaires .cards-container {
    display: grid;
    grid-template-rows: repeat(3, 170px);
    gap: 10px;
}

#logements .logements-populaires .cards-container article .content {
    display: flex;
}

#logements .logements-populaires .cards-container article img {
    height: 100%;
    width: 40%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
    object-position: center;
}

/* Section Activités */
#activites {
    margin: 3rem 0;
}

#activites .list-activites {
    display: grid;
    grid-template-areas:
        "vieux-port fort-pomegues parc-calanques notre-dame"
        "vieux-port fort-pomegues parc-calanques notre-dame"
        "vieux-port fort-pomegues parc-calanques parc-longchamp"
        "vieux-port iles-frioul parc-calanques parc-longchamp"
        "vieux-port iles-frioul parc-calanques parc-longchamp"
    ;
    grid-template-rows: repeat(5, 80px);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#activites .list-activites > div {
    position: relative;
    border-radius: 25px;
    box-shadow: 0 0 20px var(--light-gray);
}

#activites .list-activites > div img {
    flex: 1;
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

#activites .list-activites > div h3 {
    padding: 1.2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--white);
    margin: 0;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#activites .list-activites #vieux-port {
    grid-area: vieux-port;
}

#activites .list-activites #fort-pomegues {
    grid-area: fort-pomegues;
}

#activites .list-activites #iles-frioul {
    grid-area: iles-frioul;
}

#activites .list-activites #parc-calanques {
    grid-area: parc-calanques;
}

#activites .list-activites #notre-dame {
    grid-area: notre-dame;
}

#activites .list-activites #parc-longchamp {
    grid-area: parc-longchamp;
}

/** Footer */
footer {
    background-color: var(--custom-gray);
}
footer .page-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer div {
    padding: 2rem;
}

footer h2 {
    font-size: 1.5rem;
}

footer li {
    padding: 0.3rem 0;
}

footer a {
    color: #000;
    font-size: 1.4rem;
    font-weight: inherit;
}

/* Mode tablette */

@media screen and (max-width: 1200px) {
    #logements .logements .cards-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 230px);
    }
}

@media screen and (max-width: 992px) {
    #logements {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 768px) {
    #activites .list-activites {
        display: grid;
        grid-template-areas:
        "vieux-port fort-pomegues"
        "iles-frioul parc-calanques"
        "notre-dame parc-longchamp"
    ;
        grid-template-rows: repeat(3, 300px);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .page-container {
        padding: 0;
    }

    header {
        flex-direction: column;
        align-items: start;
        position: relative;
    }

    header > a {
        margin-top: 2rem;
        margin-left: 2rem;
    }

    header nav {
        display: block;
        align-self: stretch;
    } 

    header nav ul li.active {
        border-top: none;
        border-bottom: 2px solid var(--primary);
    }

    header nav ul li {
        border-bottom: 2px solid var(--custom-gray);
        text-align: center;
        width: 50%;
    }

    header nav > a {
        position: absolute;
        top: 35px;
        right: 20px;
    }

    #search {
        padding: 0 20px;
    }

    #search .search-filters * {
        margin: 0.5rem 0.5rem 0 0;
    }

    #search .search-container button {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 0.5rem;
    }

    #search .search-container button span {
        display: none;
    }

    #search .search-container button i {
        display: block;
        background-color: inherit;
        border: none;
        display: flex;
    }

    #search .search-container input {
        width: 100%;
    }

    #logements .logements-populaires {
        border-radius: 0;
        order: 1;
    }

    #logements .logements {
        background-color: var(--white);
        order: 2;
    }

    #logements .logements .cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 250px);
    }

    #activites {
        padding: 0 20px;
    }

    #activites h2 {
        padding-bottom: 8px;
    }

    #activites .list-activites {
        display: grid;
        grid-template-areas:
        "vieux-port"
        "fort-pomegues"
        "iles-frioul"
        "parc-calanques"
        "notre-dame"
        "parc-longchamp"
    ;
        grid-template-rows: repeat(6, 200px);
        grid-template-columns: 1fr;
    }

    footer .page-container {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }

    footer div {
        margin: 0;
        padding: 0.5rem 2rem;
    }
}